@import url('https://fonts.googleapis.com/css?family=IM+Fell+English|Lato:700|Pathway+Gothic+One|Ubuntu:300| Nanum+Gothic+Coding | Arvo');

body {
	background-image: url('images/manhattan.jpg');
	background-size: 100%;
	background-repeat: repeat-y;
}

#contentBin{
	top:20px;
	position: relative;
	border: solid;
	background-color:#eeeeee;
	text-align: center;
	width: 74%;
	left: 13%;
	z-index: 0;
	height: 100%;
}

#the{
	position: relative;
	font-size: .55em;
	left: 0px;
}

#title{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 60px;
	line-height: 1.2em;
	padding-left: 60px; 
	letter-spacing: .145cm; 
	text-align: left;
}

#history{
	font-family: 'IM Fell English', sans-serif;
	position: relative;
	font-size: 1.2em;
	line-height: 1.4em;
	padding-left: 60px;
	padding-right: 20%;
	text-align: left;
	color: #444444;
}

#genre{
	font-family: 'Lato' sans-serif;
	font-weight: bold;
	font-size: 2em;
	position: absolute;
	text-align: center;
	z-index: 1;
	left:79.5%;
	width:20%;
	padding-top: 25px;
	height: 100px;
}

#list{
	font-family: 'Pathway Gothic One', sans-serif;
	letter-spacing: .1cm; 
}

nav{
	top: 10px;
	left:20%;
	list-style: none;
	line-height: 2em;
	position: relative;
	text-align: center;
	font-size: .5em;
	text-align: left;
	width:60%;
}

nav li{
	background-color: #bbbbbb;
	text-align: left;
	border-color: black;
	line-height: 3em;
}

nav a{
	padding-left: 5px;
	font-size: 1.3em;
	display: block;
	color: inherit;
	text-decoration: none;
}

nav a:hover{
	background-color: white;
	cursor: pointer;
	border: solid;
	border-color: #666666;
}




